@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 148, 182);
  }
  
  li {
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: white;
    color: black;
  }
  h1 {
    text-align: center;
    color: rgb(12, 139, 182);
    font-family: 'Raleway', sans-serif;
  }
  h2 {
    text-align: center;
    color: rgb(12, 139, 182);
    font-family: 'Raleway', sans-serif;
  }
  body{
    background-image: url(https://ak.picdn.net/shutterstock/videos/30574603/thumb/1.jpg);
  }

  .radio{
    text-align: left;
    color: rgb(12, 139, 182);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-top: 20px;
  }
  .explain{
      margin: auto;
      padding-top: 10px;
      max-width: 600px;
      color: rgb(12, 139, 182);
      font-family: 'Raleway', sans-serif;
  }
  .selrel{
    color: rgb(12, 139, 182);
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
  }
  .form3{
    padding-top: 25px;
    margin: auto;
    max-width: 600px;
  }
  .button{

    margin: auto;
    max-width: 600px;
  }