@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:black;
}
li {
    float: left;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:white;
    color: black;
}
body{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-dark.png);
}

.weed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    -webkit-box-shadow: 13px 11px 14px -8px rgba(184,170,184,0.77);
    -moz-box-shadow: 13px 11px 14px -8px rgba(184,170,184,0.77);
    box-shadow: 13px 11px 14px -8px rgba(184,170,184,0.77);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
h1{
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-shadow: grey;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1:hover{
    color: teal;
}
h4{
    color:white;
    padding: 20px;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    line-height: 40px;
    font-weight: 600;
}
h4:hover{
    color:hotpink;
}
input{
    width: 400px;
}
label{
    padding-left: 20px;
}
button:hover{
    color: white;
    background-color: black;
}
.diff {
    background-color:hotpink;
}